table {
    border-spacing: 20px;
}
body {
    background-color: #EAF6F6;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
textarea {
    resize: none;
}
.avatorPic {
    height: 200px;
}